<?xml version = "1.0"encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="halo-project" parallel="methods">
    <test name="Web">
        <classes>
            <class name="org.project.haloproject.CucumberWebRunner">
            </class>
        </classes>
    </test>

    <parameter name="maximize" value="true"/>
    <parameter name="headless" value="false"/>
    <!-- Valid drivers right now: "chrome" and "firefox", SHOULD HAVE IT INSTALLED -->
    <parameter name="browser" value="chrome"/>
    <parameter name="timeout" value="20"/>
</suite>