<?xml version = "1.0"encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="halo-project" parallel="methods">
    <test name="Web">
        <classes>
            <class name="org.project.haloproject.CucumberWebRunner">
            </class>
        </classes>
    </test>
</suite>